html {
    font-size: 10px;
    font-family: 'Open sans', sans-serif;
    background-color: #00ff2a;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff0000;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(251, 255, 0);

}
h1 {
    
    margin: 0;
    font-size: 60px;
    text-align: center;
    color: rgb(0, 255, 255);
    padding: 20px 0;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);

}
p, li {
    
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;

}
img {
    margin-right: auto;
    margin-left: auto;
    display: block;

}